<div class="section-title">
  <clr-icon [attr.shape]="icon" class="user-icon"></clr-icon>
  {{ title }} <span>{{ collection?.length }}</span>
</div>
<div
  *ngFor="let src of collection"
  [ngClass]="{ 'list-item': true, expanded: src.expanded, selected: src.selected }"
  (mouseover)="selectSource(src)"
  (click)="setSource(src)"
  [title]="src.id"
  [id]="src.id"
>
  <div class="item-header">
    <div class="expander" (click)="expandSource(src)">
      <clr-icon
        shape="caret"
        style="transform: rotate(90deg);"
        *ngIf="!src.expanded"
        title="Expand item"
        size="16"
      ></clr-icon>
      <clr-icon
        shape="caret"
        style="transform: rotate(180deg);"
        *ngIf="src.expanded"
        title="Collapse item"
        size="16"
      ></clr-icon>
    </div>

    <div class="text">{{ src.label }}</div>

    <div class="meta">
      <svg viewBox="0 0 10 10">
        <circle cx="5" cy="5" r="5" />
        <circle cx="20" cy="5" r="5" />
        <circle cx="35" cy="5" r="5" />
        <circle cx="50" cy="5" r="5" />
      </svg>
    </div>
  </div>
  <div class="contents">
    <h5>Group details</h5>
    <div>ID: {{ src.id }}</div>
    <div>Type: {{ src.type }}</div>
    <div>Items count: {{ src.items?.length || 0 }}</div>
  </div>
</div>
