<div class="diagram-container">
  <div class="diagram">
    <div class="sources">
      <app-acp-groups
        [icon]="'users'"
        [title]="'User Groups'"
        [collection]="byType(sources, 'USER')"
        (itemSelected)="selectSource($event)"
        (itemSet)="setSource($event)"
      >
      </app-acp-groups>
      <app-acp-groups
        [icon]="'applications'"
        [title]="'Service Groups'"
        [collection]="byType(sources, 'SERVICE')"
        (itemSelected)="selectSource($event)"
        (itemSet)="setSource($event)"
      >
      </app-acp-groups>
      <app-acp-groups
        [icon]="'rack-server'"
        [title]="'Node Groups'"
        [collection]="byType(sources, 'NODE')"
        (itemSelected)="selectSource($event)"
        (itemSet)="setSource($event)"
      >
      </app-acp-groups>
    </div>

    <div class="chart-container">
      <svg class="chart" width="100" height="100"></svg>
    </div>

    <div class="destinations">
      <app-acp-groups
        [icon]="'data-cluster'"
        [title]="'Data Groups'"
        [collection]="byType(destinations, 'DATA')"
        (itemSelected)="selectDestination($event)"
        (itemSet)="setDestination($event)"
      >
      </app-acp-groups>
      <app-acp-groups
        [icon]="'application'"
        [title]="'Service Groups'"
        [collection]="byType(destinations, 'SERVICE')"
        (itemSelected)="selectDestination($event)"
        (itemSet)="setDestination($event)"
      >
      </app-acp-groups>
    </div>
  </div>
</div>
