:host {
  display: block;

  .diagram-container {
    width: 100%;

    .diagram {
      display: flex;

      .sources {
        flex: 1;
      }

      .chart-container {
        flex: 2;
        overflow: hidden;
      }

      .destinations {
        flex: 1;
      }
    }
  }
}
