<p class="blueish">
    Flow Diagram
</p>

<div class="diagram-container">
    <div class="diagram">
        <div class="sources">
            <div *ngFor="let src of sources" [id]="src.id">{{src.label}}</div>
        </div>

        <div class="chart-container">
            <svg class="chart" width="100" height="100"></svg>
        </div>

        <div class="destinations">
            <div *ngFor="let destination of destinations" [id]="destination.id">{{destination.label}}</div>
        </div>
    </div>
</div>

<!-- EXP -->
<svg id="lines" width="600" height="300"></svg>
<svg id="sankey" width="600" height="300"></svg>

<!-- Links:
http://bl.ocks.org/jasondavies/1854606

https://bost.ocks.org/mike/selection/

https://bl.ocks.org/d3indepth/64be9fc39a92ef074034e9a8fb29dcce

http://www.d3noob.org/2014/02/styles-in-d3js.html

https://observablehq.com/@d3/d3-line


https://observablehq.com/@d3/learn-d3

https://observablehq.com/@d3/sankey-diagram?collection=@d3/d3-sankey

https://github.com/d3/d3-sankey

https://ricklupton.github.io/d3-sankey-diagram/

https://github.com/ricklupton/d3-sankey-diagram
-->