:host {
    display: block;
    background-color: #000;

    .diagram-container {
        background-color: #eee;
        width: 100%;

        .diagram {
            display: flex;

            .sources {
                flex: 1;
                width: 200px;

                >div {
                    border: 1px solid #bbb;
                    background-color: #333;
                    padding: 4px 6px 5px 7px;
                    margin-bottom: 2px;
                    color: #eee;

                }

                >div:hover {
                    border: 1px solid #4c3;
                }

                >div:before {
                    content:  "\2192  ";
                    margin-top: -10px;
                    font-size: 11px;
                    line-height: 1.5;
                }

                >div.expanded:before {
                    content: "\039b ";
                }

            }

            .chart-container {
                flex: 2;

                overflow: hidden;
            }

            .destinations {
                width: 200px;
                flex: 1;

                >div {
                    border: 1px solid #bbb;
                    background-color: #333;
                    margin-bottom: 2px;
                    color: #eee;
                }
            }
        }
        .chart {
            background-color: #ddd;
        }
    }
}