<p id="blueish">
    Diagram&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diagram
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    Diagram&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diagram
</p>

<div class="sources">
    <div id="source-1">S1</div>
    <div id="source-2">S2</div>
</div>

<div class="policies">
    <div id="policy-1">P1</div>
    <div id="policy-2">P2</div>
</div>

<div class="destinations">
    <div id="destination-1">D1</div>
    <div id="destination-2">D2</div>
</div>

<svg class="chart" width="960" height="300"></svg>
<svg id="lines" width="960" height="300"></svg>
<svg id="sankey" width="960" height="300"></svg>