<p class="blueish">
    Flow Diagram
</p>

<div class="diagram-container">
    <div class="diagram">

        <div class="sources">
            <div id="source-1">S1</div>
            <div id="source-2">S2</div>
            <div id="source-3">S3</div>
            <div id="source-4">S4</div>
            <div id="source-5">S5</div>
            <div id="source-6">S6</div>
        </div>

        <div class="policies">
            <!-- 
        <div id="policy-1">P1</div>
        <div id="policy-2">P2</div> -->
        </div>

        <div class="destinations">
            <div id="destination-1">D1</div>
            <div id="destination-2">D2</div>
            <div id="destination-3">D3</div>
            <div id="destination-4">D4</div>
            <div id="destination-5">D5</div>
            <div id="destination-6">D6</div>
            <div id="destination-7">D7</div>
            <div id="destination-8">D8</div>
            <div id="destination-9">D9</div>
            <div id="destination-10">D10</div>
        </div>
    </div>
    <svg class="chart" width="600" height="500"></svg>
</div>


<!-- EXP -->
<svg id="lines" width="600" height="300"></svg>
<svg id="sankey" width="600" height="300"></svg>

<!-- Links:
http://bl.ocks.org/jasondavies/1854606

https://bost.ocks.org/mike/selection/

https://bl.ocks.org/d3indepth/64be9fc39a92ef074034e9a8fb29dcce

http://www.d3noob.org/2014/02/styles-in-d3js.html

https://observablehq.com/@d3/d3-line


https://observablehq.com/@d3/learn-d3

https://observablehq.com/@d3/sankey-diagram?collection=@d3/d3-sankey

https://github.com/d3/d3-sankey

https://ricklupton.github.io/d3-sankey-diagram/

https://github.com/ricklupton/d3-sankey-diagram
-->